@import './Shared.scss';

.product-list {
  &.-empty {
    padding: 2rem 1rem;
    > .title {
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }

    >.description {
      font-size: 1rem;
      line-height: 1.2;
    }
  }
}