$pageWidth: 1366px;
$gridRows: 12;
$gridRowHeight: $pageWidth / $gridRows;
$smMargin: 16px;
$lgMargin: $smMargin * 2;

$mlBlue: #3483fa;
$mlYellow: #ffe600;
$mlBlack: #333333; 
$mlDarkGray: #666666;
$mlMediumGray: #999999;
$mlLightGray: #eeeeee;
$mlWhite: #ffffff;
